body{
    background: #1a1b1c;!important;
}

p{
    color:white;!important;
}

#txt{
    font-family: "Impact";
}

.text{
    font-family: "Impact";
    color:white;
    text-align: center;
}

.time-text{
    font-size: 2em;
}

.top-layer{
    z-index:10;
}