<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css"
          href="{% static 'screenapp/styles.css' %}" />


    <script src="https://use.fontawesome.com/8265947dd0.js"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script src="https://s3-us-west-2.amazonaws.com/reallysimpleweather/reallysimpleweather-1.1.0.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="{% static 'javascript/control.js' %}"></script>

    <script src="{% static 'javascript/canvas.js' %}"></script>
</head>


<body onload="startTime();">

    <div class="top-layer" id="time_container" style="width:60px;">

        <div id=seconds2 style="border-right:5px solid white;top:0;width:55px;height:0px;position:absolute"></div>
        <div id=seconds1 style="border-top:5px solid white;top:0;width:0;height:110px;position:absolute"></div>
        <div id=seconds_left style="border-left:5px solid white;top:0;width:55px;height:110px;position:absolute"></div>
        <div id=seconds4 style="border-left:5px solid #1a1b1c;top:0;width:55px;height:110px;position:absolute"></div>
        <div id=seconds_bottom style="border-bottom:5px solid white;top:0;width:60px;height:110px;position:absolute"></div>
        <div id=seconds3 style="border-bottom:5px solid #1a1b1c;top:0;width:60px;height:110px;position:absolute"></div>


        <div id=hour class="text time-text" style="margin-top: 17px;"></div>
        <div id=min class="text time-text"></div>
    </div>


    <div class="top-layer" style="position:absolute;bottom:0;left:40%;">
        <div style="position: relative;float:left;padding-right: 10px;">
            <i id="thermometer" style="color:white" class="fa fa-3x"></i>
        </div>
        <div style="position: relative;float:left">
            <div id="weather" class="text"></div>
        </div>
        <div style="position: relative;float:left;padding-left: 10px;">
            <i id="weather_icon" style="color:white" class="fa fa-3x"></i>
        </div>

    </div>

    <div class="top-layer" id="date_container" style="position: absolute;
    top:0;right:0;margin:5px;">
        <div class="text time-text"> {{ today }} </div>
        <div class="text time-text"> {{ month }} {{ day }}</div>
    </div>

    <svg width="100%" height="600">


    </svg>

</body>
</html>